@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-light-red: #F88A62;
    --color-red: #E0683C;
    --color-brown: #6B2500;
    --color-dark-brown: #481900;
    --color-black: #000000;
    --color-navy-blue: #22243D;
    --color-yellow: #F2C158;
    --color-gray: #8F8580;
    --color-tan: #FFF7E2;
    --color-white: #F9F9FE;

    --font-acme: 'Acme', sans-serif;
    --font-ga-maamli: 'Ga Maamli', fantasy;
}

@font-face {
    font-family: 'Acme';
    src: url('../fonts/Acme-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ga Maamli';
    src: url('../fonts/GaMaamli-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Book page flip effect */
/* Adapted from: */
/* https://stackoverflow.com/a/76978444 */

* { box-sizing: border-box; }

.book {
  display: flex;
  margin: auto;
  width: 40%;
  /*1* let pointer event go trough pages of lower Z than .book */
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  visibility: hidden;
}

.book.ready {
  visibility: visible;
}

.page {
  --thickness: 5;
  /* PS: Don't go below thickness 0.4 or the pages might transpare */
  flex: none;
  display: flex;
  width: 100%;
  /*1* allow pointer events on pages */
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  border: 1px solid #000;
  transform-origin: left center;
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.book.ready .page {
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
}

@media (width >= 48rem) {
  .page {
    border: 2px solid #000;
  }
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front,
.back {
  flex: none;
  width: 100%;
  backface-visibility: hidden;
  background-color: #fff;
  /* Fix backface visibility Firefox: */
  translate: 0px;
}

.back {
  background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}