---
import Layout from '../layouts/Layout.astro';
import GalleryCard from '../components/GalleryCard.astro';
---

<Layout>
	<div class="h-full flex justify-center-safe items-center">
		<!-- Page content goes here -->
		<GalleryCard />
	</div>
</Layout>
