---
import Layout from '../layouts/Layout.astro';
import GalleryCard from '../components/GalleryCard.astro';
import CardContainer from '../components/CardContainer.astro';
---

<Layout>
	<div class="justify-center items-center grid grid-cols-1
	mx-50 my-25 gap-25">
		<!-- Page content goes here -->
		<GalleryCard />
		<CardContainer />
	</div>
</Layout>
