---
import Layout from '../layouts/Layout.astro';
import GalleryCard from '../components/GalleryCard.astro';
import SectionTitle from '../components/SectionTitle.astro'
import SectionBody from '../components/SectionBody.astro';
import PageTitle from '../components/PageTitle.astro';
import PageBody from '../components/PageBody.astro';
import CurrentEventsContainer from '../components/CurrentEventsContainer.astro';
---

<Layout>
	<div class="justify-center items-center grid grid-cols-1
	mx-40 my-25 gap-4">
		<PageTitle title="UBC KABABAYAN"/>
		<PageBody descrip="/kabaˈbajan/ -- FELLOW COMPATRIOT. We are UBC's Filipino student organization! We aim to preserve and promote Filipino culture through various school events, community engagement initiatives, and our social media platforms."/>
	</div>

	<div class="justify-center items-center grid grid-cols-1
	mx-4 lg:mx-50 my-25 gap-25">
		<!-- Page content goes here -->
		<div class="grid grid-cols-1
		gap-4">
			<SectionTitle title="CURRENT EVENTS"/>
			<SectionBody descrip="Don't miss out! Buy tickets or RSVP for our upcoming events!"/>
			<CurrentEventsContainer />
		</div>

		<div class="grid grid-cols-1
		gap-4">
			<SectionTitle title="ABOUT US"/>
			<GalleryCard text="Buy a membership!" link="https://www.bouncelife.com/events/68c0dcf6e8ad35d40845c9a5" cover="/about-us/Cover.jpg" image1="/about-us/Image1.jpg" image2="/about-us/Image2.jpg"/>
			<SectionBody descrip="Founded in 2007, UBC Kababayan, or KABA is a recognized socio-cultural student organization of UBC at its Vancouver campus. KABA acknowledges that it is located on the traditional, ancestral and unceded territory of the Musqueam people - a land that has always been a place of learning. We instill in all of our members the Filipino value of KAPWA /kapˈwa/, the ability to see ourselves in the other, no matter who they are. KABA is affiliated with the Filipino Canadian Students’ Association (FILCASA) and the UBC Association of Southeast Asian Clubs (ASEAC). These collaborations allow us to continuously engage with the UBC community and the larger Filipino-Canadian community, which aids us in our mission of cultivating a deeper appreciation for Filipino culture."/>
		</div>
	</div>
</Layout>
