---
import Layout from '../layouts/Layout.astro';
import PageBody from '../components/PageBody.astro';
import PageTitle from '../components/PageTitle.astro';
import SectionTitle from '../components/SectionTitle.astro';
import SectionBody from '../components/SectionBody.astro';
import ZineBook from '../components/ZineBook.astro';
import { getCollection } from 'astro:content';

const kabazine: any[] = await getCollection('kabazine' as any)
const zines = kabazine.sort(
	(a, b) => b.data.id.valueOf() - a.data.id.valueOf()
);
---

<Layout>
	<div class="xl:px-50 sm:px-4 px-0 lg:pt-24 pt-16 lg:pb-12 pb-8 space-y-2 lg:space-y-4">
		<PageTitle title="KABAZINE"/>
		<PageBody descrip="Our seasonal KABAZINE highlights the photos, artwork, and experiences of our KABABAYAN! Keep an eye out at our events and on our Instagram for opportunities to participate! The zines on this webpage can be flipped like a book, click on each page to flip it!"/>
	</div>

	<div class="xl:px-60 sm:px-8 px-2 lg:py-12 pb-8 lg:space-y-24 space-y-8">
		{zines.map(zine => (
			<div class="lg:space-y-4 space-y-2">
				<SectionTitle title={zine.data.title} />
				<SectionBody descrip={zine.data.description} />
				<ZineBook dir={zine.data.dir} count={zine.data.count}/>
			</div>
		))}
	</div>
</Layout>
