---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="bg-red hidden xl:hidden flex-row">
        <a href="/"
        class="text-black font-acme text-base">
            HOME
        </a>
    </div>
</Layout>
