---
import '../styles/global.css';

import MemberCard from './MemberCard.astro';
---

<div id="card-container"
class="w-full h-min grid grid-cols-4
bg-tan border-2 border-black rounded-[20px]
p-10 gap-x-0 gap-y-4">
    <MemberCard />
    <MemberCard />
    <MemberCard />
    <MemberCard />
    <MemberCard />
    <MemberCard />
    <MemberCard />
    <MemberCard />
</div>