---
import "../styles/global.css";
---

<div class="grid grid-cols-[auto_1fr_auto] gap-0 content-end sticky top-0 z-50 bg-tan w-full h-16 border-b-2 border-black">
    <button class="bg-navy-blue text-white rounded-t-[20px] justify-self-start py-2 mt-1 border-x-2 border-t-2 border-black w-50">
        KABABAYAN
    </button>
    <div>
        <!-- Empty middle div for spacing -->
    </div>
    <div class="flex justify-self-end gap-0">
        <button class="bg-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50
        text-black font-acme
        py-2 mt-3
        hover:mt-1 hover:bg-light-red transition-all duration-200">
            HOME
        </button>
        <button class="bg-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50
        text-black font-acme
        py-2 mt-3
        hover:mt-1 hover:bg-light-red transition-all duration-200">
            KABAMILYA
        </button>
        <button class="bg-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50
        text-black font-acme
        py-2 mt-3
        hover:mt-1 hover:bg-light-red transition-all duration-200">
            KABA ALBUM
        </button>
        <button class="bg-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50
        text-black font-acme
        py-2 mt-3
        hover:mt-1 hover:bg-light-red transition-all duration-200">
            KABAZINE
        </button>
        <button class="bg-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50
        text-black font-acme
        py-2 mt-3
        hover:mt-1 hover:bg-light-red transition-all duration-200">
            FILOTALKS
        </button>
    </div>
</div>