---
import '../styles/global.css'

const descrip = Astro.props;
---

<div id="page-body"
class="mx-8
grid grid-cols-1">
    <a id="page-body-text"
    class="text-brown font-acme lg:text-xl sm:text-lg text-base
    ">
        {Astro.props.descrip}
    </a>
</div>