---
import '../styles/global.css'

const title = Astro.props;
---


<div id="page-title"
class="mx-8
grid grid-cols-1">
    <a id="page-title-text"
    class="text-brown font-ga-maamli text-8xl uppercase
    ">
        {Astro.props.title}
    </a>
</div>