---
import '../styles/global.css'

const descrip = Astro.props;
---

<div id="section-body"
class="mx-8
grid grid-cols-1">
    <a id="section-body-text"
    class="text-brown font-acme lg:text-lg sm:text-base text-sm
    ">
        {Astro.props.descrip}
    </a>
</div>