---
import '../styles/global.css'

const descrip = Astro.props;
---

<div id="gallery-text"
class="mx-8
grid grid-cols-1">
    <a id="gallery-descrip"
    class="text-brown font-acme text-lg
    ">
        {Astro.props.descrip}
    </a>
</div>