---
import '../styles/global.css'

const title = "About Us";
---


<div id="gallery-text"
class="mx-8
grid grid-cols-1">
    <a id="gallery-title"
    class="text-brown font-ga-maamli text-6xl uppercase
    ">
        {title}
    </a>
</div>